fj21-tarefas/src/validaTarefaSemBanco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="tarefa">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="descricao" type="xsd:string" />
				<xsd:element name="finalizado" type="xsd:boolean" />
				<xsd:element name="dataFinalizacao" type="xsd:dateTime" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>